@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body{
    font-family: 'Cabin', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

img{
    max-width: 100%;
    height: auto;
}

/* style cho header */
.header{
    padding: 30px 0px;
}

.header .header__container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.header .header__container .header__item{
    display: flex;
}


.header .header__container .header__item ul{
    list-style: none;
    display: flex;
}

.header .header__container .header__logo{
    font-size: 30px;
    position: relative;
    background-color: #fff;
}

.header .header__container .header__logo .red{
    color: #ea3a60;
    font-weight:bold;

}

.header .header__container .header__logo::before{
    content: "";
    width: 60px;
    height: 60px;
    left: -15px;
    top: -15px;
    border: 3px solid crimson;
    position: absolute;
    z-index: -1;
    border-radius: 7px;
}

.header .header__container .header__item{
    align-items: center;
}

.header .header__container .header__item ul li{
    padding: 0 15px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: rgb(0 0 0 / 50%);
}

.header .header__container .header__item ul li:hover{
    color: rgb(0 0 0 / 90%);
}

.header .header__container .header__item .header__icon{
    margin: 0 15px 0 0;
}

.header .header__container .header__item .header__icon i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgb(234 58 96 / 20%);
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.header .header__container .header__item .header__icon i:hover{
    background-color: #ea3a60;
}

.header .header__container .header__item .header__text{
    color: #777;
    font-size: 14px;
    font-weight: 600;
}

.header .header__container .header__item .header__text p{
    margin: 0;
    font-size: 20px;
    color: #2d2d43;
}
/* style cho header */
/* style cho banner */
.banner{
    padding: 48px   0;
    background-image: url(https://demo.w3layouts.com/demos_new/template_demo/28-03-2020/interiorfloor-liberty-demo_Free/1147492347/web/assets/images/slide1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    z-index: 0;
}

.banner::after{
    content:"";
    position: absolute;
    background-color:rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.banner .banner__container{
    margin: 0   auto;
    text-align: center;
    padding: 48px   0;
    z-index: 1;
    color: #fff;
    
}

.banner .banner__container  h2{
    font-size: 50px;
    font-weight: 600;
}
/* style cho banner */
/* style cho menu */
.menu{
    background-color:#f3f3f3;
}

.menu .menu__container{
    margin: 0 auto;
    padding: 20px 0;
}

.menu .menu__container ul{
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.menu .menu__container ul  li{
    list-style: none;
    padding: 0 20px;
}
/* style cho menu */
/* style cho march */
.march{
    padding: 48px   0;
    background-color:#efefef;
}

.march  .march__container{
    padding: 48px   25px;
    margin: 0 auto;
    cursor: pointer;
}

.march  .march__container   .march__content{
    display: flex;
    flex-wrap: wrap;
}

.march  .march__container   .march__content .march__item{
    flex: 0 0 calc(33.33333% - 30px);
    max-width: calc(33.33333% - 30px);
    padding: 0  15px;
    margin-bottom: 40px;
}

.march  .march__container   .march__content .march__item .march__icon{
    background-color: #fff;
}

.march  .march__container   .march__content .march__item .march__icon .march__img{
    position: relative;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.march  .march__container   .march__content .march__item .march__icon .march__img  img{
    display: block;
    transition: .3s ease-in-out;
}

.march  .march__container   .march__content .march__item .march__icon:hover .march__img img{
    transform: scale(1.1);
    transition: .3s ease-in-out;
}

.march  .march__container   .march__content .march__item .march__icon .march__img p{
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: #ea3a60;
    color: #fff;
    padding: 4px 20px;
    border-radius: 15px;
    z-index: 1;
}

.march  .march__container   .march__content .march__item .march__text{
    padding: 15px 0;
}

.march  .march__container   .march__content .march__item .march__text p{
    padding: 15px   30px;
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
}

.march  .march__container   .march__content .march__item .march__text p:hover{
    color: #ea3a60;
}

.march  .march__container .march__previous ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.march  .march__container .march__previous ul li{
    list-style: none;
    padding: 8px 12px;
    font-size: 22px;
}

.march  .march__container .march__previous ul li:first-child{
    font-size: 16px;
}

.march  .march__container .march__previous ul li:last-child{
    font-size: 16px;
    color: #ea3a60;
    align-items: center;
}

/* style cho march */

/* style cho footer*/
.footer {
    padding: 48px 0;
    background-color: #222;
    z-index: -1;
    color: #fff;
}

.footer .footer__container{
    margin: 0   auto;
}

.footer .footer__container .footer__content{
    display: flex;
}

.footer .footer__container .footer__content .footer__about{
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.footer .footer__container .footer__content .footer__about h6{
    font-size: 24px;
    margin-bottom: 25px;
}

.footer .footer__container .footer__content .footer__about p{
    font-size: 16px;
    color: #888;
    line-height: 28px;
}

.footer .footer__container .footer__content .footer__about .footer__icon i{
    margin-right: 10px;
    margin-top: 14px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #3c3c3c;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.footer .footer__container .footer__content .footer__about .footer__icon i:hover{
    background-color: #007bff;
    transition: all 0.5s;
}


.footer .footer__container .footer__content .footer__contact{
    flex: 0 0 25%;
    max-width: 25%;
}

.footer .footer__container .footer__content .footer__contact h6{
    font-size: 24px;
    margin-bottom: 25px;
}

.footer .footer__container .footer__content .footer__contact ul li{
    list-style: none;
    color: #888;
    margin-bottom: 10px;
    color: #ababab;
    font-size: 17px;
}
.footer .footer__container .footer__content .footer__contact ul li i{
    line-height: 30px;
    color: #fff;
}

.footer .footer__container .footer__content .footer__link{
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    font-size: 17px;
    
}

.footer .footer__container .footer__content .footer__link h6{
    font-size: 24px;
    margin-bottom: 24px;
}


.footer .footer__container .footer__content .footer__link ul li{
    list-style: none;
    line-height: 36px;
    color: #ababab;
}

.footer .footer__container .footer__content .footer__blog{
    flex: 0 0 25%;
    max-width: 25%;
    color: #ccc;
}

.footer .footer__container .footer__content .footer__blog h6{
    font-size: 24px;
    margin-bottom: 24px;
    color: #fff;
    
}

.footer .footer__container .footer__content .footer__blog a{
    text-decoration: none;
    color: #ccc;
    line-height: 26px;
    font-size: 18px;
}

.footer .footer__container .footer__content .footer__blog p{
    font-size: 12px;
    margin-bottom: 20px;
}

.footer .footer__container .footer__item{
    display: flex;
    margin-top: 50px;
}

.footer .footer__container .footer__item .footer__text{
    flex: 0 0 50%;
    max-width: 50%;
}

.footer .footer__container .footer__item .footer__email{
    flex: 0 0 50%;
    max-width: 50%;
}

.footer .footer__container .footer__item .footer__text h6{
    font-size: 24px;
    margin-bottom: 10px;
}

.footer .footer__container .footer__item .footer__text p{
    color: #888;
    font-size: 16px;
}

.footer .footer__container .footer__item .footer__email{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color:#3c3c3c;
    border-radius: 6px;
}

.footer .footer__container .footer__item .footer__email p{
    color: #888;
}
/* style cho footer*/

/* style cho W3*/
.w3{
    background-color: #2e2e2e;
    color: #fff;
    text-align: center;
    align-items: center;
}

.w3 .w3__container{
    padding: 24px 0;
    color: #888;
}

.w3 .w3__container a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}
/* style cho W3*/